@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* 10px/16px = 0.625 */
  /* percentage of user's browser font-size setting */
  font-size: 62.5%;
}

.container {
  display: flex;
}

.sidebar {
  font-family: "Fira Sans", sans-serif;
  background-color: red;
  width: 12.5%;
  height: 100vh;
  padding: 4.5rem;
}

.nav-list {
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  row-gap: 3.3rem;
}

.nav-list li {
  list-style: none;
}

.main {
  display: flex;
  justify-content: center;
  background-color: yellow;
  width: 87.5%;
}

.info-container {
  display: flex;
  background-color: violet;
  height: 75vh;
  width: 90%;
  margin-top: 12rem;
  justify-content: space-around;
}

.dev-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dev-pic img {
  height: 75vh;
}
